aside {
	display: flex;
	flex-direction: column;
	gap: 3px;
	width: 329px;
	padding: 3px;
}

aside section {
	overflow: hidden;
	border-radius: 5px;
	color: #ddd;
	font-size: 12px;
}

aside section#explorer {
	height: 310px;
	margin-top: 47px;
}

aside section#properties {
	flex-grow: 1;
	background-color: #1d1d1d;
}

aside section header {
	padding: 5px;
	background-color: #303030;
}

aside section#properties .content {
	display: flex;
	height: 100%;
}

aside section#properties .tab {
	width: 100%;
	background-color: #303030;
}