.card {
	display: inline-block;
	min-width: 300px;
	max-width: fit-content;
	height: fit-content;
	position: absolute;
	overflow: hidden;
	border-radius: 5px;
	background-color: #000a;
	backdrop-filter: blur(20px);
	color: #fff5;
}

.card .header {
	padding: 4px 8px;
	background-color: #000a;
	cursor: move;
	font-size: 14px;
	user-select: none;
}

.card .body {
	margin-top: 4px;
	padding: 4px 8px;
}