.input-group {
	margin-bottom: 1px;
	padding-left: 15px;
}

.input-group label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input[type="number"] {
	appearance: none;
	width: 121px;
	padding: 2px 0;
	outline: none;
	border: none;
	background-color: #545454;
	color: #ddd;
	text-align: center;
	font-size: 13px;
}
input[type="number"]::-webkit-inner-spin-button {
	appearance: none;
}