.input-label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4px;
	font-size: 15px;
}

input[type="number"] {
	outline: none;
	border: 1px solid #fff5;
	background-color: transparent;
	color: #fff5;
}