aside nav {
	height: 100%;
	padding-top: 10px;
	padding-left: 2px;
}

aside nav button {
	appearance: button;
	width: 26px;
	height: 26px;
	border: none;
	border-radius: 3px 0 0 3px;
	background-color: #303030;
	cursor: pointer;
}

aside nav button ion-icon {
	display: block;
	font-size: 17px;
}

aside nav button.tab-transform {
	padding-left: 5px;
	color: #ffa75e;
}