#gui-switch-menu {
	display: flex;
	gap: 3px;
	margin: 5px;/*!*/
	padding: 3px;
	float: right;
	border-radius: 5px;
	background-color: #fff2;
	backdrop-filter: blur(20px);
}

#gui-switch-menu button {
	padding: 3px 7px;/*!*/
	border-radius: 4px;
	background-color: transparent;
	color: #fff5;
	transition-duration: .6s;
}
#gui-switch-menu button:hover {
	background-color: #fff2;
	color: #fffd;
	transition-duration: .2s;
}