.gui-menu {
	width: 200px;
	margin: 5px;
	overflow: hidden;
	border-radius: 5px;
	backdrop-filter: blur(20px);
	background-color: #000a;
}

.gui-menu .gui-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

.gui-menu .gui-content {
	padding: 5px;
}

.gui-menu .gui-content table {
	width: 100%;
	border-collapse: collapse;
}
.gui-menu .gui-content table td.delete {text-align: right}