#debugger {
	padding: 5px 10px;
	position: absolute;
	background-color: #00000070;
	color: #ddd;
	font-family: Consolas, monospace;
	font-size: 16px;
}

#debugger span {display: block}
#debugger span::before {
	color: #aaa;
	font-style: italic;
}

#debugPosition::before {content: "Position: "}
#debugRotation::before {content: "Rotation: "}
#debugCamera::before {content: "Camera: "}