body.fullscreen header {
	top: calc(var(--header-height) * -1);
	right: 0;
	left: 0;
	position: absolute;
	backdrop-filter: blur(20px);
	background-color: #0005;
	z-index: 2;
}

body.fullscreen main {padding: 0}

body.fullscreen .canvas {
	border-radius: 0 !important;
	box-shadow: none;
}

body.fullscreen section#explorer {
	height: calc(100% - var(--header-height) - var(--status-height) + 3.5px);
	top: calc(var(--header-height) - 2px);
	right: 0;
	bottom: 0;
	position: absolute;
	backdrop-filter: blur(20px);
	background-color: #0005;
}

body.fullscreen section#status {
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	backdrop-filter: blur(20px);
	background-color: #0005;
	z-index: 1;
}