header {
	display: flex;
	padding: 7px;
	top: 0;
	position: relative;
	overflow: hidden;
	color: #aaa;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: .5px;
	transition: top .4s linear;
}
header.visible {
	top: 0 !important;
}

header span {
	padding: 0 8px;
	color: #aaa;
}
header span:nth-child(3) {color: #fff}

header #logo {
	height: 16px;
}