@import url(defaults.css);
@import url(fullscreen.css);
@import url(header.css);
@import url(canvas.css);
@import url(no-output.css);
@import url(explorer.css);
@import url(table.css);
@import url(status.css);
@import url(fps.css);

@font-face {
	src: url(../fonts/RadioGroteskBlack.otf) format("opentype");
	font-family: "Radio Grotesk";
	font-weight: 100;
}

@font-face {
	src: url(../fonts/RadioGroteskRegular.otf) format("opentype");
	font-family: "Radio Grotesk";
	font-weight: 500;
}

@font-face {
	src: url(../fonts/RadioGroteskUltralight.otf) format("opentype");
	font-family: "Radio Grotesk";
	font-weight: 800;
}

:root {
	--header-height; /* Dynamic variable */
	--status-height; /* Dynamic variable */
	--background: #202124;
	--background-light: #292a2d;
	--switched: #323439;
	--text-danger: #f85264;
	--text-dark: #61646d;
	--text-gray: #a6a9b0;
	--text-warning: #ff781f;
	--text-white: #fff;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	background-color: var(--background);
}

body, button, input {
	font-family: "Radio Grotesk", Arial, sans-serif;
}

main {
	display: flex;
	flex-grow: 1;
	gap: 3px;
	padding: 3px;
	top: 0;
	position: relative;
	transition: padding .2s;
}

object {pointer-events: none}